body#background {
	background: url('../images/yum.jpeg') no-repeat 50% 50% fixed;
	background-size: cover;
	 -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

input[type='text']
 {
 	width: 245px;
 	height: 35px;
 	background-color: white;
 	max-width: 245;
 	font-size: 20px;
 }

 input[type='number']
 {
 	width: 40px;
 	max-width: 40px;
 	height: 35px;
 	background-color: white;
 	
 	font-size: 20px;
 }


.container {
	border: solid 2px white;
	border-radius: 20px;
	padding: 50px;
	margin-left: 100px;
	width: 	75%;
	height: 50%;
	
	text-align: center;
	background-color: white;
	margin: auto;
	vertical-align: middle;
	display: block;
	
}
 ul {
 	font-family: 'Oxygen', sans-serif;
	list-style: none;
	font-size: 30px;
	
	text-align: left;

 }



 h2 {
 	font-family: 'Old Standard TT', serif;
 	font-size: 56px;
 	margin: auto;
 }


.submit{
background-image: url('../images/cart.png'); background-repeat: no-repeat;
background-size: 100%;

background-color: white;
border: none;
width: 55px;
height: 55px;
padding: 20px;


}

.remove{
	background-image: url('../images/redx.png'); background-repeat: no-repeat;
	background-size: 100%;
	background-color: white;
	border: none;
	width: 20px;
	height: 20px;
	
	float: right;
	
}

li {
	padding-right: 30px;
	padding-left: 30px;
}

 

 body{
    box-sizing:border-box;
}
*, *:before, *:after {
    box-sizing:inherit;
}

input[type='checkbox'] {
   padding: 5px;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
    float: right;
}
